.bookWrap {
    height: 450px;
    width: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bookWrap img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(109, 101, 91, 0.6);
}

/*.bookWrap img:hover {
    height: 450px;
    width: 350px;
    box-shadow: 0 3px 7px rgba(71, 66, 66, 0.8);
}*/

h3 {
    height: 40px;
    width: 300px;
    text-align: center;
    margin: 10px;
}

span {
    height: 20px;
    width: 300px;
    text-align: center;
}

.btn {
    border: none;
    margin-top: 5px;
    color: #1f89b3;
    background-color: white;
}

.btn:hover {
    margin-top: 10px;
    color: #135c79;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}