.bookWrap {
    height: 370px;
    width: 270px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bookWrap img {
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(109, 101, 91, 0.6);
    margin-top: 10px;
}

.imgCover {
    object-fit: cover;
    transition: all 0.3s 0.1s ease-in;
}

.imgCover:hover {
    height: 370px;
    width: 270px;
    box-shadow: 0 3px 7px rgba(71, 66, 66, 0.8);
    cursor: pointer;
}

.bookTitle {
    height: 20px;
    width: 270px;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
}

.btn {
    border: none;
    margin-top: 5px;
    color: #1f89b3;
    background-color: white;
}

.btn:hover {
    margin-top: 10px;
    color: #135c79;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}