.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f58e34;
    color: white;
    outline: none;
    height: 80px;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
    z-index: 2;
    padding: 0 50px;
    position: fixed;
}