.modalContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 12, 12, 0.8);
    z-index: 1000;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    width: 550px;
    height: 650px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
/*    pointer-events: none;*/
}

.title {
   height: 40px;
}