.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3c3c3c;
    color: white;
    outline: none;
    min-height: 44px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    padding: 0 0 0 24px;
    z-index: 3;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #f5933f;
}

.searchForm {
    width: 350px;
    display: flex;
    height: 22px;
}

form.searchForm input {
    outline: none;
    padding: 5px;
    font-size: 14px;
    width: 92%;
    background: #fdfdfc;
    border: none;
}

form.searchForm input:focus {
    border: 1px solid #f3923e;
}

form.searchForm button {
    border: none;
    outline: none;
    background: #f3923e;
    float: left;
    width: 8%;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

form.searchForm button:hover {
    background: #d26305;
}

form.searchForm::after {
    content: "";
    clear: both;
    display: table;
}


.backBooks {
    cursor: pointer;
}

.backBooks:hover {
    color: #f39648;
}
